<div *ngFor="let singlepost of items; let i=index">
  {{singlepost}}
  <br>
</div>
<h1>Blog</h1>

<div *ngFor="let tag of tags ">

  <div (click)="filterByTag(tag.departmentName)">{{tag.departmentName}}</div>
</div>
<div (click)="getAllBlogs()">All</div>

<!--Feature -->


<app-feature [posts]="blogFeatures"></app-feature>




<!--Blogroll-->

<div *ngFor="let post of blogposts; let i=index">

  <blockquote>
    <h1>
      <div (click)="getBlogPost(post.blogId, i)"> {{post.title}}</div>
    </h1>

    <div *ngFor="let tag of post.departmentsBlog; let j=index">
      <span (click)="filterByTag(tag.departments.departmentName)"> {{tag.departments.departmentName}} </span>
    </div>

    {{post.coverImage}} {{post.blogId}}<br>
    {{post.preview}} ... <br> by {{post.name}}, {{post.userTitle}} <br>


    <div style="background-color: #2aabd2">


      <app-comments [post]="post" ></app-comments>


<app-reaction [post]="post" [index]="i"></app-reaction>







    </div>


  </blockquote>
  <br>


  <hr>
  <br>
</div>



<app-post [postid]="postid" ></app-post>


<br>


<a (click)="sendMeHome()"> Go home</a>
