<p>


<div *ngFor="let singlepost of items; let i=index">
  {{singlepost}}
  <br>
</div>


<h1>Blog</h1>

<div *ngFor="let tag of tags ">

 <div (click)="filterByTag(tag.departmentName)">{{tag.departmentName}}</div>
</div>
<div (click)="getAllBlogs()">All</div>

  <div *ngFor="let post of blogposts; let i=index">
    <blockquote>
    <h1><div (click)="getBlogPost(post.blogId)"> {{post.title}}</div></h1>

      <div *ngFor="let tag of post.departmentsBlog; let j=index">
        <span (click)="filterByTag(tag.departments.departmentName)"> {{tag.departments.departmentName}} </span>
      </div>

    {{post.coverImage}} {{post.blogId}}<br>
    {{post.preview}} ... <br> by {{post.name}} {{post.userTitle}} <br>


      <div (click)="getComents(post.blogId)"  style="background-color: #2aabd2">



        <div *ngIf="isCommentOpen == post.blogId">

          <form (ngSubmit)="submitComment(post.blogId)">
            <input type="text" name="comment" [(ngModel)]="commentForm[post.blogId]"/>
            <button type="submit"> Post</button>
          </form>
        </div>

     {{commentsCount[post.blogId] != 0 ? "Comments: " + commentsCount[post.blogId]  : "Comment "}}

        <div *ngIf="comments.length > 0" style="background-color: #9acfea">
          <div  *ngFor="let comment of comments[post.blogId];" >
            <ul *ngFor="let com of  comment.comments">
              <li> {{com.comment}} </li>

            </ul>
          </div>

        </div>
      </div>


    </blockquote>
    <br>



    <hr>
  <br>
  </div>




Title: {{blogpost["title"]}} <br>
Content: {{blogpost["content"]}}

  <br>


<a (click)="sendMeHome()"> Go home</a>
