html {
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: silver;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  background: #e8e8e8;
  scroll-snap-type: x mandatory;

}

.profile-image {width:50px; height:50px; border-radius: 100%; float: left; padding :0 10px 0 0}

.el-leftpanel {

  width:50%;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-align: center;
}

.el-rightpanel {
  width:50%;
  float: left;
  scroll-snap-align: center;
}

.el-contents {

  display: flex;

}

.el-panel {

  margin:10px 0;
  padding:10px;
  background-color: white;
}

.el-panel h1 {

  font-size: 18px;
  font-weight: bold;
}


