
<div class="el-reaction" >
<span (click)="blog.updateReaction(index,post.blogId, 2)"> <i class="far fa-thumbs-up"></i></span>

<span (click)="blog.toggleReactionProfiles(post.blogId)">

          <span *ngIf="blog.reactionIdsCount[post.blogId] !=0">{{blog.reactionIdsCount[post.blogId]}}</span>
 </span>

<!--        Love
      <span (click)="toggleReactionProfiles(post.blogId)">
            <span *ngIf="post.reaction && post.reaction.Love.count !=0">{{post.reaction.Love.count}}</span>

      </span>-->

<div *ngIf="blog.reactionToggle[post.blogId] == true">
  <!--<div *ngFor="let profile of post.reaction.Like.profiles">-->
    <!--<ul>-->
      <!--<li>{{profile}} &#45;&#45;LIKE&#45;&#45; </li>-->
    <!--</ul>-->
  <!--</div>-->

  <!--          <div *ngFor="let profile of post.reaction.Love.profiles">
              <ul>
                <li>{{profile}} &#45;&#45;LOVE&#45;&#45; </li>
              </ul>

            </div>-->
</div>
</div>
