@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

View Post
<form>
    
    <select name="Status" >
        
        <option value="0">Draft</option>
        <option value="2">Published</option>
    </select>

    Title:
    <input type="text" name="title"/>
    
    
    <div class="form-group">
        <div class="col-md-10">
            <p>Cover Image:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    
    <textarea name="content"></textarea>
    
    @foreach (var tags in Model)
    {

        <input name="tag[]" type="checkbox" value="@tags.Id" /> @tags.DepartmentName   

    }
    
    
</form>