
<div>In-house</div>
<div>Mentions <span *ngIf="_data.directNotifications > 0">{{_data.directNotifications}}</span></div>


<div *ngFor="let message of chat" class="chatMessageBox">

<div>
  <img class='profile-image' src ="uploads/{{message.image}}" >
</div>
  <div>

    {{message.name}} {{message.date | date }}
  </div>

  <div ngClass="chatMessage" [innerHTML]=" domSanitizer.bypassSecurityTrustHtml(message.message)" ></div>
</div>

<div >
  <ul class="nameslist">
  <li *ngFor="let list of filteredList; let i=index" tabindex="2"
      (keydown)="tabEnter($event, list )"
      (click)="slectClick(list, i)">
    {{list.name}}
  </li>
  </ul>
</div>

<div tabindex="1" style="border: 1px solid blue" contenteditable="true" (keydown)="tabAction($event)"  (keyup)="parseKey($event)" (keypress)="checkforCharacter($event)"  (input)="chatinput=$event.target.innerText" id="message" name="message" ></div>

<button tabindex="3" (click)="processChat()">Submit</button>



