.active {color:red}
.chatMessageBox {

  margin: 5px;
  display: inline-block;
  width: 90%;
  background-color: #f3f6ff;
  padding: 10px;
  border-radius: 20px;

}
.chatMessage {
  width: 80%;
  display: block;
  float: left;
  margin-top: 10px;

}
