


<div *ngIf="postActive">


<div id="backgroundElement" style="background-color: rgba(255, 255, 255, 0.8); position: fixed;
    top: 0;
    height: 100%;
    width: 100%;" (click)="back($event)" >

  <div class="mainPost">
    <div *ngFor="let post of blogpost; " >

      <h1>{{post.title}}</h1>

      <div *ngFor="let tag of post.departmentsBlog" >
        {{ tag.departments.departmentName}}

      </div>

      <div *ngFor="let author of post.author" >
         <a href="mailto:{{author.email}}"> {{author.name}}</a>, {{author.title}}
      </div>

      <small>{{post.createdAt | date: 'dd/MM/yyyy'}}</small>

      <div>
        {{post.content}}
      </div>



      <app-comments [post]="post" ></app-comments>

      <app-reaction [post]="post" [index]="index"></app-reaction>

    </div>


</div>
</div>

</div>


